<form hidden class="border">
  <div class="form-check">
    <input #hourly type="checkbox" class="form-check-input" id="hourCheck">
    <label class="form-check-label" for="hourCheck">Saat</label>
  </div>
  <small>Saatlik detaylı hava durumu bilgisi istiyorsanız seçin.</small>
</form>

<div *ngIf="!loading; else loadingTemplate">
  <div *ngIf="!hidden">
    <h4 class="baslik"><b>{{city}}</b></h4>

    <p>Gözlem Saati: {{weather.data.current_condition[0].observation_time}}</p>
    <p>Gökyüzü: {{weather.data.current_condition[0].weatherDesc[0].value}}</p>

    <p>Sıcaklık: {{weather.data.current_condition[0].temp_C}} °C</p>
    <p>Nem: %{{weather.data.current_condition[0].humidity}}</p>
    <p>Basınç: {{weather.data.current_condition[0].pressure}} mmHg</p>

    <h4 class="detay"><b>Haftalık Hava Durumu Özeti</b></h4>

    <table class="table table-responsive table-bordered">
      <tr>
        <th><b><u>Tarih</u></b></th>
        <th>Gün Doğumu</th>
        <th>Gün Batımı</th>
        <th>En Yüksek Sıcaklık</th>
        <th>En Düşük Sıcaklık</th>
        <th>UV İndeksi</th>
      </tr>

      <tr *ngFor="let day of weather.data.weather">
        <td>{{day.date}}</td>
        <td>{{day.astronomy[0].sunrise}}</td>
        <td>{{day.astronomy[0].sunset}}</td>
        <td>{{day.maxtempC}}</td>
        <td>{{day.mintempC}}</td>
        <td>{{day.uvIndex}}</td>
      </tr>
    </table>
  </div>
</div>

<ng-template #loadingTemplate>
  <b>Data Loading Please Wait...</b>
</ng-template>

<!--
Saatlik hava durumu kodları

<div *ngIf="hourly.checked">
        <b><u>Saatlik Hava Durumu</u></b>
        <ul>
          <li *ngFor="let hour of day.hourly">
            <p>Saat: {{hour.time}}</p>
            <p>Sıcaklık: {{hour.tempC}}</p>
            <p>Rüzgar Hızı: {{hour.windspeedKmph}}</p>
            <p>Hissedilen Sıcaklık: {{hour.FeelsLikeC}}</p>
            <p>Yağmur İhtimali: {{hour.chanceofrain}}</p>
          </li>
        </ul>
      </div>
-->
