<div>
  <h4 class="baslik"><b>{{city}}</b></h4>

  <p>Gözlem Saati: {{weather.data.current_condition[0].observation_time}}</p>
  <p>Gökyüzü: {{weather.data.current_condition[0].weatherDesc[0].value}}</p>

  <p>Sıcaklık: {{weather.data.current_condition[0].temp_C}}</p>
  <p>Nem: {{weather.data.current_condition[0].humidity}}</p>
  <p>Basınç: {{weather.data.current_condition[0].pressure}}</p>

  <h4 class="detay"><b>Haftalık Hava Durumu Özeti</b></h4>

  <ul>
    <li *ngFor="let day of weather.data.weather">
      <p><b><u>Tarih: {{day.date}}</u></b></p>
      <p>Gün Doğumu: {{day.astronomy[0].sunrise}}</p>
      <p>Gün Batımı: {{day.astronomy[0].sunset}}</p>
      <p>En Yüksek Sıcaklık: {{day.maxtempC}}</p>
      <p>En Düşük Sıcaklık: {{day.mintempC}}</p>
      <p>UV İndeksi: {{day.uvIndex}}</p>


      <!--<b><u>Saatlik Hava Durumu</u></b>
      <ul>
        <li *ngFor="let hour of day.hourly">
          <p>Saat: {{hour.time}}</p>
          <p>Sıcaklık: {{hour.tempC}}</p>
          <p>Rüzgar Hızı: {{hour.windspeedKmph}}</p>
          <p>Hissedilen Sıcaklık: {{hour.FeelsLikeC}}</p>
          <p>Yağmur İhtimali: {{hour.chanceofrain}}</p>
        </li>
      </ul>-->

    </li>
  </ul>
</div>
