<div class="wrapper">
  <div class="item1">
    <table id="city-table" class="table table-bordered table-responsive">
      <tr>
        <th>Şehirler</th>
        <th class="text-center">Sil</th>
        <th class="text-center">Detaylı Görünüm</th>
      </tr>
      <tr *ngFor="let city of cities; let i = index" [attr.city-index]="i">

        <td>
          {{city}}
        </td>

        <td class="text-center">
          <button class="btn btn-danger" (click)="deleteCity(i)">Sil</button>
        </td>

        <td class="text-center">
          <a (click)="onDetail(city)">Detay</a>
        </td>
      </tr>
    </table>
  </div>

  <app-city-add class="item2" (outputToParent)="GetOutputValue($event)"></app-city-add>

  <app-city-detail class="item3"></app-city-detail>
</div>
