<div class="city center">
  <table id="city-table" class="table table-bordered">
    <tr>
      <th>Şehirler</th>
      <th>Sil</th>
      <th>Detaylı Görünüm</th>
    </tr>
    <tr *ngFor="let city of cities; let i = index" [attr.city-index]="i">

      <td (click)="onSelect(city)">
        {{city}}
      </td>

      <td>
        <button (click)="deleteCity(i)">Sil</button>
      </td>

      <td>
        <a (click)="onDetail(city)" routerLink="city-detail/{{city}}">Detay</a>
      </td>
    </tr>
  </table>
</div>

<hr>

<app-city-add (outputToParent)="GetOutputValue($event)"></app-city-add>

<app-city-basic class="border" [city]="city"></app-city-basic>
