<div class="container-fluid">
  <form hidden class="form-group">
    <div class="">
      <input #hourly type="checkbox" class="" id="hourCheck">
      <label class="" for="hourCheck">Saat</label>
    </div>
    <small>Saatlik detaylı hava durumu bilgisi istiyorsanız seçin.</small>
  </form>

  <div class="" *ngIf="!loading; else loadingTemplate">
    <div class="" *ngIf="!hidden">
      <div class="weather-info">
        <h4 class="baslik">
          <b>{{weather.city.name}}</b>
        </h4>

        <p>Gözlem Saati: {{time}}</p>
        <p>Ülke: {{weather.city.country}}</p>
        <hr>
      </div>

      <div class="weather-data" *ngFor="let weatherData of weather.list | slice:1:16">
        <div *ngFor="let _weather of weatherData.weather">
          <h4><i><b>{{_weather.description | uppercase}}</b></i></h4>
        </div>

        <p>Tarih: <i>{{weatherData.dt_txt}}</i></p>
        <p>Sıcaklık: <i>{{weatherData.main.temp | number:'1.0-0'}}</i></p>
        <p>En Düşük: <i>{{weatherData.main.temp_min | number:'1.0-0'}}</i></p>
        <p>En Yüksek: <i>{{weatherData.main.temp_max | number:'1.0-0'}}</i></p>

        <p>Basınç: <i>{{weatherData.main.pressure | number:'1.0-0'}}</i></p>
        <p>Deniz Seviyesi: <i>{{weatherData.main.sea_level | number:'1.0-0'}}</i></p>
        <p>Yer Seviyesi: <i>{{weatherData.main.grnd_level | number:'1.0-0'}}</i></p>
        <p>Nem: <i>{{weatherData.main.humidity}}</i></p>

        <hr />
      </div>

      <h4 class="detay">
        <b>Haftalık Hava Durumu Özeti</b>
      </h4>
      <small>*Not: Yağmur olasılığı her gün saat 12:00 için gösterilmektedir.</small>
    </div>
  </div>

  <ng-template #loadingTemplate>
    <b>Data Loading Please Wait...</b>
  </ng-template>

</div>
